nav{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 90px;
  }

  .link-container{
    display: inline-flex;
  }


  .icon_flv{
    width: 20px;
    margin-left: 5px;
  }

  #dropdownNavbar{
    position: absolute;
  }

  .mobile_drop{
    padding: 0px !important;
    margin: 0px !important;
  }

  #navbar-default{
    background: white;
  }
  
  @media (max-width: 700px) {
    #dropdownNavbarLink{
      justify-content: start;
    }
      .icon_menu{
        margin-left: 10px;
      }
    
      .link_responsive{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Borde inferior elegante */
        transition: background-color 0.3s;
        padding: 2px;
        background: white;
      }

      .link-navi{
        width: 100%;
      }
  }

  @media (min-width: 700px) {
    #navbar-default{
      display: block !important;
    }
  }
 
  