.sliderbtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65%;
}

.arrowb{
    filter: grayscale(100%);
}

.slb-r{
    position: absolute;
    right: 0;
}

.slb-l{
    position: absolute;
    left: 0;
}




@media (max-width: 700px) {
    .arrowb{
        width: 30px;
    }
    
    .sliderbtn{
        width: 95%;
        top: 40%;
    }

     
  }


 