.secure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.secure-content {
  text-align: center;
}


.image-container {
  width: 140px;
  height: 140px;
  overflow: hidden; /* Para recortar las imágenes si son más grandes */
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .secure-container {
    padding: 0 10px; /* Agregar espaciado lateral para evitar que el contenido sea demasiado ancho en dispositivos móviles */
  }

}


.bottomimgs{
  width: 120px !important;
  height:80px !important;
  margin-top: 15px !important;
}

