@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../public/css/normalize.css';
@import '../app/components/Nav/navBar.css';
@import '../app/components/Footer/footer.css';
@import '../app/components/Product/product.css';
@import '../app/components/Captcha/captcha.css';
@import '../app/components/Productdesc/productdesc.css';
@import '../app/components/Slider/slider.css';
@import '../app/components/Form/form.css';
@import '../app/orders/orders.css';



/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

/* aumenta el tamaño de los cards con la imagen lateral */
@media (min-width: 768px){
  .md\:max-w-xl {
      max-width: 60rem !important;
  }}






/* for mobile purpouses */

  @media (max-width: 700px) {


    body {
        overflow: hidden !important;
    }

    .slide{
        overflow: auto !important; 
        height: 550px !important;
    }

    .slidesub{
      margin-top: 30%;
    }

    .secure-container{
        height: 100% !important;
    }

    footer {

        position: absolute !important;
        bottom: 0 !important;
        margin: 0 !important;
        border-radius: 0 !important;
       
    }

    .flexmobilefooter{
      display: flex;
    }


    .pcpolicy{
      display: none;
    }

    .mbpolicy{
      display: block !important;
    }

    .slb-l, .slb-r{

      width: 55px;
      height: 55px;
      border-radius: 10px;
      background: #ebebebba  !important;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
      -5px -5px 10px rgba(0, 0, 0, 0.2),
      5px -5px 10px rgba(0, 0, 0, 0.2),
      -5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .slb-l > img , .slb-r > img {
      margin: auto !important;
    }

    #navbar-default{
      height: 800px;
    }

    .ordericn{
      position: absolute;
      right: 0;
      margin-right: 5%;

    }

    .mobileadpt{
      overflow: auto !important;
      height: 573px !important;
    }
    
    .mobilelist{
      overflow: scroll !important;
      height: 150px;
    }

    .prpcview{
      display: none;
    }
    .prmview{
      display: contents;
    }

    .principal_img_prv{
      width: 170px;
      height: 170px;
    }
   
    .footmb{
      padding: 0px !important;
    }

    .prscontmb{
      height: 600px;
      overflow: scroll;
      display: block;
    }

    .formcomp{
      margin-top: 40%;
      padding: 8px !important;
      max-width: 90%;
    }

    .formcomp_p{
      padding: 8px !important;
      max-width: 90%;
      margin-top: 0px !important;
      padding: 5px !important;
      margin-bottom: 40px !important

    }

    .captchmb{
      margin-top: 30%;
      width: 80% !important;
    }

    .mbfetcher{

      margin-top: 180px;
    }
}
  
  
