@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../app/components/Nav/navBar.css';
@import '../app/components/Footer/footer.css';
@import '../app/components/Product/product.css';
@import '../app/components/Captcha/captcha.css';
@import '../app/components/Productdesc/productdesc.css';
@import '../app/components/Slider/slider.css';
@import '../app/orders/orders.css';



/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

/* aumenta el tamaño de los cards con la imagen lateral */
@media (min-width: 768px){
  .md\:max-w-xl {
      max-width: 60rem !important;
  }}
  
